
.reset {
    color: black;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.reset:hover {
    color: var(--primary-color);
}

.reset:active {
    color: var(--second-color);
}
