.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.register h1 {
    margin-bottom: 10px;
}

.formTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.formTitle h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}