.container {
    display: flex;
    height: 100vh;
    background-color: var(--background-color);
}

.sectionLogin {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionLogin h1 {
    font-size: 36px;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
}

.sectionLogin p {
    font-size: 16px;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    margin: 20px 0 40px;
}

.divider {
    border: solid 0.5px black;
}

.sectionWelcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan {
    text-align: center;
    margin: 0px 100px 100px;
}

.slogan p {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
}